*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    color: rgb(255, 255, 255);
}

.pecaPreta {
    color: rgb(226, 51, 51);
}

.pecaBranca {
    color: rgb(0, 0, 0);
}

.tabCelPreta{
    background-color: rgb(15, 178, 6);
}

.tabCelBranca {
    background-color: rgb(245, 235, 235);
}

.celulaTd {
    width: 20px;
    height: 20px;
    border: black solid 1px;
}