*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: antiquewhite;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa{
    background-color: aqua;
}

.fa-circle {
    font-size: 3vh;
    margin: 1vh;
}

.pecaPreta {
    color: rgb(21, 74, 190);
}

.pecaBranca {
    color: rgb(255, 65, 65);
}

.tabCelPreta{
    background-color: rgb(15, 178, 6);
}

.tabCelBranca {
    background-color: rgb(245, 235, 235);
}

.celulaTd {
    width: 5vh;
    height: 5vh;
    border: black solid 1px;
}